body{
	background-color: #F3DB81;

}

h2,h3{
	margin-top: 0px !important;
}

.app-title, .app-title:hover
{
	text-decoration: none;
	color: white;
	font-weight: bold;

}

.textbox{

    width: 50%;
    float: right;

}

.label{
	display:inline-block;
}
.outer-frame{

    width: 70%;
    margin: 0 auto;

}

.input-boxes{

    width: 70%;
    display: inline-block;


}

.select-style{
	float:left;
    width: 30%;

}

.button-box{
    height: 80px;
    width: 25%; 
    display: inline;
    float:right;

}

.reward-btn{

	float:right;
	padding:20% !important;
	margin-top:0px !important;
	display: inline-block;
	font-size: 1.5em;
	border-radius: 7px !important;

}

.reward-banner{
		padding:20px;
		border-radius: 10px;
		text-align:center;
		margin:0 auto;
		background-color: grey;

}

.msgbox
{
	width:100%;
	margin-bottom:0px !important;
}

.postbox{
	width:68%;
	padding:10px;
	border-radius: 10px;
	text-align:center;
	margin:0 auto;
	background-color: grey;
	display:inline-block;

}

.sidebox{
	width:25%;
	padding:10px;
	border-radius: 10px;
	display: inline-block;
    float:right;
    background-color: grey;
    text-align:center;
	margin:0 auto;

}

.main-content{
	margin-top:30px;
}

.thread,.view-rewards, .leaderboards{
	width:95%;
	text-align:center;
	margin:10 auto;
	background-color: white;
	border-radius: 5px;
	height:100px;

}

.selection{
	float:right;
}
