body{
	background-color: #f9f9f9;

}

h2,h3,p{
	margin-top: 0px !important;
}
em{
	font-size: 1.3em;
	font-style: italic;
}
.app-title, .app-title:hover
{
	text-decoration: none;
	color: white;
	font-weight: bold;

}

.textbox, .suggestr{

    width: 60%;
    float: right;

}

.default-thread{
	background-color: lightgrey;
	height: 30px;
	width:95%;
	margin: 0 auto;
	border-radius: 5px;
}

.outer-frame{

    width: 80%;
    margin: 0 auto;

}

.input-boxes{

    width: 60%;
    display: inline-block;


}
.button-box{
    height: 80px;
    width: 20%; 
    display: inline;
    float:right;

}

.values-box{
	display:inline-block;
	width:10%;
	height:80px;
	float:left;
	margin-left:2%;
	background-color: white;
	padding: 5px;
	border-radius: 5px;

}


.reward-btn{
	margin-top: 0px !important;
	float:right;
	padding:20% !important;
	display: inline-block;
	font-size: 1.5em;
	border-radius: 5px !important;


}

.reward-banner{
		padding:20px;
		border-radius: 10px;
		text-align:center;
		margin:0 auto;
		background-color: #BACBD8;

}

.msgbox
{
	width:100%;
	margin-bottom:0px !important;
}

.postbox{
	width:68%;
	padding:10px;
	border-radius: 10px;
	text-align:center;
	margin:0 auto;
	background-color: #BACBD8;
	display:inline-block;

}

.sidebox{
	width:25%;
	padding:10px;
	border-radius: 10px;
	display: inline-block;
    float:right;
    background-color: #BACBD8;
    text-align:center;
	margin:0 auto;

}

.main-content{
	margin-top:30px;
}

.thread,.view-rewards {
	width:95%;
	text-align:center;
	margin:10 auto;
	background-color: white;
	border-radius: 5px;
	height:100px;
	

}
.leaderboards{
	width:95%;
	text-align:center;
	margin:10 auto;
	background-color: #388C90;
	border-radius: 5px;
	height:auto;
	}

.thread:hover{
	width:95%;
	text-align:center;
	margin:10 auto;
	background-color: white;
	border: 2px solid lightblue;
	border-radius: 5px;
	height:100px;

}

.selection{
	float:right;
}

.badge-image, .popup-item-image{
margin:5%;
width:90%;
height:90%;
}

.popup-badge-image{
margin:5%;
width:90%;
height:90%;
}

.thread-badge{
	display:inline-block;
	width:18%;
	height: 90%;
	float:left;
	background-color: white;
	padding: 5px;
	border-radius: 5px;
}

.thread-content{
	width:75%;
	display: inline-block;
}

.thread-title{
	font-weight: bold;
	height:30%;
	box-sizing:border-box;
}

.thread-message{
	height:65%;
	float:left;
	box-sizing:border-box;
}

.popup-item{
	width:490px;
	text-align:left;	
	float:left;
	background-color: white;
	border-radius: 5px;
	height:92px;
}

.popup-item-badge{
	display:inline-block;
	width:5%;
	height: 50%;
	float:left;
	background-color: white;	
	border-radius: 5px;
	border-width: 1px;
}

.popup-item-content{
	width:75%;
	display: inline-block;
	text-align: left;
	float:left;
	margin-left: 20px;
}

.cs-popover-content{
	width:500px;
	height: 400px;
}

.badge-label{

    display: inline-block;
    margin-bottom: 8px;
    width: 30%;    
    color: aquamarine;
    text-align: left;
    font-size: larger;
    font-style: italic;
    font-family: initial;
    font-weight: bolder;

}

.lb-name{
 width:60%;
 float:left;
}

.fame-label{
	font-family: cursive;
    font-weight: bold;
    color: black;
}

.lb-badge{
 width:40%;
 float:right;

}