.action-menu > ul,
.action-menu > div {
  display: none;
}
.cs-actionmenu-wrapper .arr {
  z-index: 1;
}
.cs-actionmenu-wrapper .cs-popover-content {
  overflow: hidden;
}
.cs-actionmenu-container {
  position: relative;
}
.cs-actionmenu-menu {
  position: relative;
  z-index: 2;
  background: #fff;
  float: left;
  height: 100%;
}
.cs-actionmenu-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  white-space: nowrap;
}
.cs-actionmenu-menu a {
  display: block;
  padding: .2em .5em;
}
.cs-actionmenu-body {
  position: absolute;
  z-index: 0;
  right: 0;
  top: 0;
}
.cs-actionmenu-body > div {
  position: absolute;
  right: 0;
  top: 0;
  background: #fff;
}
.cs-actionmenu-body .animated {
  right: 100%;
  z-index: 1;
}
.cs-actionmenu-left {
  position: absolute;
  right: 0;
}
.cs-actionmenu-left .cs-actionmenu-body,
.cs-actionmenu-left .cs-actionmenu-body > div {
  right: auto;
  left: 0;
}
.cs-actionmenu-left .cs-actionmenu-body .animated {
  left: 100%;
}
.cs-actionmenu-left .cs-actionmenu-menu {
  float: right;
}


.cs-dately-wrapper {
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  width: 212px;
}
.cs-dately-wrapper.cs-dately-popover {
  border: 0.0833em solid #cccccc;
  background-color: #fff;
}
.cs-dately-wrapper:focus {
  outline: 0;
}
.cs-dately-wrapper a {
  text-decoration: none;
  display: block;
}
.cs-dately-wrapper table {
  border: none;
  border-spacing: 0;
  margin: 0;
  padding: 0;
  table-layout: fixed;
  width: auto;
  border-collapse: separate;
}
.ie7 .cs-dately-wrapper table {
  border-collapse: collapse;
}
.cs-dately-wrapper table th,
.cs-dately-wrapper table td {
  padding: 0;
  margin: 0;
  border: none;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
}
.cs-dately-wrapper table td {
  border: 1px solid #FFF;
}
.cs-dately-wrapper .cs-dately-disabled {
  cursor: default;
}
.cs-dately-wrapper .cs-dately-disabled a {
  cursor: inherit;
}
.cs-dately-navigation {
  position: relative;
  text-align: center;
}
.cs-dately-navigation .cs-dately-dir {
  position: absolute;
  left: 0;
  top: 0;
}
.cs-dately-navigation .cs-dately-next {
  left: auto;
  right: 0;
}
.cs-dately-navigation .cs-dately-title {
  margin-left: auto;
  margin-right: auto;
  width: 9em;
}
.cs-dately-body a {
  height: 100%;
}
.cs-dately-body td:hover {
  background: #0066ff;
}
.cs-dately-body td:hover a {
  color: #333;
}
.cs-dately-dates th,
.cs-dately-dates td {
  width: 28px;
  height: 28px;
}
.cs-dately-dates td a {
  line-height: 2.3;
}
.cs-dately-months td,
.cs-dately-years td {
  width: 68px;
  height: 50px;
}
.cs-dately-months a,
.cs-dately-years a {
  line-height: 3.7692;
}
.ie7 .cs-dately-wrapper {
  width: 198px;
}
.ie7 .cs-dately-months td,
.ie7 .cs-dately-years td {
  width: 64px;
}

.cs-ellipsr-hidden {
  overflow: hidden;
  white-space: nowrap;
}
.cs-ellipsr-full {
  left: 0;
  padding: .2em .5em;
  position: absolute;
  top: 0;
  visibility: hidden;
  white-space: nowrap;
  border: 0.0833em solid #cccccc;
  background-color: #fff;
}

th {
  border-bottom: 0.09845172em solid #ebebeb;
}
th.cs-grid-colgroup {
  background-color: #fafcff;
  border-top: 0.09845172em solid #d6ddea;
}
th.cs-grid-colgroup-start {
  border-left: 0.09845172em solid #d6ddea;
}
th.cs-grid-colgroup-end {
  border-right: 0.09845172em solid #d6ddea;
}
.cs-grid-wrapper table {
  margin-bottom: 0;
}
.cs-grid-wrapper thead th {
  text-align: left;
}
.cs-grid-wrapper thead a[data-cs-sortcolumn],
.cs-grid-wrapper thead .cs-grid-bulk a {
  display: block;
  position: relative;
  padding-right: 12px;
}
.cs-grid-wrapper thead a[data-cs-sortcolumn] i,
.cs-grid-wrapper thead .cs-grid-bulk a i {
  border-color: #aaa;
  position: absolute;
  right: 0;
  top: 50%;
}
.cs-grid-wrapper thead .cs-grid-bulk a:hover i,
.cs-grid-wrapper thead .cs-grid-bulk a.current i {
  border-color: #333;
}
.cs-grid-wrapper thead .cs-grid-bulk a i {
  margin-top: -2px;
}
.cs-grid-wrapper thead a[data-cs-sortcolumn]:hover i {
  border-color: #666;
}
.cs-grid-wrapper thead a[data-cs-sortcolumn].current i {
  border-color: #aaa;
}
.cs-grid-wrapper thead a[data-cs-sortcolumn] i.sortdirection {
  border-color: #333;
}
.cs-grid-wrapper thead a[data-cs-sortcolumn] i.south {
  margin-top: 1px;
}
.cs-grid-wrapper thead a[data-cs-sortcolumn] i.north {
  margin-top: -5px;
}
.cs-grid-wrapper.cs-grid-panel-scrolled .cs-grid-panel {
  float: left;
  box-shadow: 4px 0 2px -2px rgba(0, 0, 0, 0.05);
}
.cs-grid-wrapper.cs-grid-panel-scrolled .cs-grid-panel table {
  width: auto;
}
.cs-grid-wrapper.cs-grid-panel-scrolled .cs-grid-body {
  position: relative;
  overflow-x: auto;
  overflow-y: hidden;
}
.cs-grid-wrapper.cs-grid-panel-scrolled th,
.cs-grid-wrapper.cs-grid-panel-scrolled td {
  white-space: nowrap;
}
.cs-grid-wrapper tr.cs-grid-super {
  line-height: .5em;
}
.cs-grid-wrapper tr.cs-grid-super th {
  padding-bottom: 0;
  border-bottom: none;
  font-weight: bold;
  text-align: center;
  color: #000;
}
.cs-grid-wrapper tr.cs-grid-super th.cs-grid-colgroup {
  border-left: 0.09845172em solid #d6ddea;
  border-right: 0.09845172em solid #d6ddea;
}
.cs-grid-wrapper tr.cs-grid-super + tr th {
  border-top: none;
}
.striped th {
  border-color: #d6d6d6;
  border-bottom: 0.09845172em solid #ebebeb;
}
.striped td {
  border: none;
}
.striped tbody tr:nth-child(odd) td {
  background-color: #f5f9ff;
}
.striped.bordered td {
  border: 0.0833em solid #d6d6d6;
}
.bordered {
  border-top: none;
  border-radius: 0 0 3px 3px;
}
.cs-grid-wrapper thead .cs-grid-bulk .cs-grid-bulk-wrapper {
  position: absolute;
}
.cs-grid-wrapper thead .cs-grid-bulk > span {
  visibility: hidden;
}
.cs-grid-wrapper thead .cs-grid-bulk .cs-grid-bulk-count {
  position: absolute;
  bottom: 22px;
  left: -5px;
  text-align: center;
  background-color: #000;
  border-radius: 2px;
  width: 26px;
  display: none;
}
.cs-grid-wrapper thead .cs-grid-bulk .cs-grid-bulk-count span {
  padding: .3em 0;
  display: block;
  font-weight: bold;
  color: #fff;
}
.cs-grid-wrapper thead .cs-grid-bulk .cs-grid-bulk-count i {
  position: absolute;
  bottom: -4px;
  left: 50%;
  margin-left: -4px;
}
.cs-grid-wrapper thead .cs-grid-bulk a {
  width: 14px;
  height: 16px;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 0;
  box-sizing: content-box;
}
.cs-grid-wrapper thead .cs-grid-bulk a i {
  display: block;
  left: 3px;
  border-color: #ccc;
}
.cs-grid-wrapper thead .cs-grid-bulk a:hover {
  border-color: #2481ff;
}
.cs-grid-wrapper thead .cs-grid-bulk a:hover i {
  border-color: #333;
}
.cs-grid-wrapper thead .cs-grid-bulk .cs-grid-bulk-links {
  display: none;
}
tbody .cs-grid-bulk {
  overflow: hidden;
}
tbody .cs-grid-bulk label {
  display: inline-block;
  margin: 0;
}
.cs-grid-bulk-links {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 0.8461em;
}
.cs-grid-bulk-links a {
  display: block;
  padding: .3em .5em;
  color: #404345;
}
.cs-grid-bulk-links a:hover {
  text-decoration: none;
  background-color: #E9F2FF;
}
.ie7 table {
  border-collapse: collapse;
}
.ie7 .cs-grid-wrapper .cs-grid-super th {
  padding-bottom: 3px;
}
.ie7 .striped tbody tr td {
  background-color: expression(this.parentNode.rowIndex % 2 == this.parentNode.parentNode.firstChild.rowIndex % 2 ? '' : '#f5f9ff');
}
.ie7 thead .cs-grid-bulk a i {
  top: 6px;
}

.background {
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;
  position: absolute;
}
input[type="search"] {
  padding-right: 14px;
  -webkit-appearance: none !important;
}
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none !important;
}
input[type="search"].extra-large + .search-cancel-button {
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;
  position: absolute;
  width: 24px;
  height: 24px;
}
.search-cancel-button {
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;
  position: absolute;
  width: 16px;
  height: 16px;
}
.search-cancel-button.hidden {
  display: none;
}
.search-icon-24 {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAByElEQVR42s1VvS8EURDfEyEiKIiCuNLfIOhEiJpEodPoFEKh4HKJECdXbC657MntvDfz6BQKRFQKCUJyKGhUSonOV0TYyfnY3L39uI+ESSbZzM78Zt7M780z/pVImWq1LKvN+YxUBTCbzXZIgnlU4gQJXkiJjy99JYJzx76AaEVLBo7FYnVEsOQAPTGgn3JiVPZaMplsCAWOmG5HgiMOLlHPpEx3BoAnGpEgxwHlKCq4dmbU4p1AwQY7VqQktrXgRHYvO1RFCQaLqyfY0Tje2LbdhQjLmkrXuece8zospGMTU08Dcmcqszl/Qoj/MkdYfBdM06x3vi80zHpnsriGaw/50PDYncQN7vzf9YqTyh51JRCTbAyThCUInFUSTLsTzLAxIGD229+pbiLEoBeNoABdzzUz0ccgTP0kEEL0hQHnthTOxOcEw+7dU+sYHzS9z7nB9YMX+5q4x6LdhAoymkruEWEclTjQVHiKCGOk4FZD703NHrKiSPBchZv8JmWm22PZibkqrIm4/0ZVgBVs0y2eWdBjU0MEq2WAp5gsRlgRSgzwsxgITOIKEUaMMiUCCnokwQoS7OUXG1wyNSWJBGK2n09s/KV8ArIq6SH4uO8kAAAAAElFTkSuQmCC);
}
.search-icon-16 {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABSElEQVR42rWTMUvEQBCFVbAVlANLLRRLwStsBX+EpTainf4BIdhdJR4SCNnszO5sZyPYKoJYiJ1nY2mpICIIFp6nziqJm2HVawxMkWW+N+9NNgP/8gDBgrWwYx0efpXeRYeLf4JZljWIcJ8cvsfKOjjI83w8CiulJizhnYRkcc89kZqS/KAlOI4B8YKzJEmGKprzrtSt6hYRXARTrwxBEvYws14JcPORyLrZdu0RdnXO0zp+N8bpZeniW8DBrbD5xhNWvcgnbPQSn70KgcdAAJ8iy7pkeNjvx0+L7KIbRrgW6p1ysndSxhE9N5UAZ96rL0jPl7bLOAUVM3WHoCoBAJgUMR48KL9/8P7MzHTtIhjSa/3eA0OwUXJCBLbY2ssvcJcItv1iJRsstJjlphMW6gV5e3x2iojNvv/INE1HNek5Dymlxn7q+wBWN8ry3FXG2gAAAABJRU5ErkJggg==);
}

.cs-loadr-head {
  position: relative;
  display: inline;
}
.cs-loadr-overlay {
  background: #fff;
  background: rgba(255, 255, 255, 0.65);
  filter: alpha(opacity=65);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.cs-pagr-loader {
  list-style: none;
}
.cs-pagr-loader .cs-loadr-overlay {
  position: relative;
  height: auto;
  width: auto;
}
.cs-pagr-wrapper {
  zoom: 1;
}
.cs-pagr-wrapper:before,
.cs-pagr-wrapper:after {
  display: table;
  *display: inline;
  content: "";
  zoom: 1;
}
.cs-pagr-wrapper:after {
  clear: both;
}
.cs-pagr-wrapper ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.cs-pagr-wrapper ul li {
  float: left;
  text-align: center;
}
.cs-pagr-wrapper ul li a {
  display: block;
}
.cs-pagr-wrapper ul li a:hover {
  text-decoration: none;
}
.cs-pagr-wrapper .cs-pagr-active a {
  cursor: default;
}
.cs-pagr-wrapper .cs-pagr-disabled {
  cursor: default;
}
.cs-pagr-wrapper input {
  text-align: center;
}
.cs-pagr-wrapper .cs-pagr-controls {
  float: right;
}
.cs-pagr-wrapper .cs-pagr-records {
  float: left;
}
.cs-pagr-wrapper-small {
  float: right;
}

.cs-popover-wrapper {
  position: absolute;
  left: -9999px;
  top: -9999px;
}
.cs-popover-wrapper > [class^=caret] {
  border-color: #c2c2c2;
  position: absolute;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
  z-index: 1;
}
.cs-popover-content {
  border: 0.0833em solid #cccccc;
  background-color: #fff;
}

.cs-scrollr-track {
  position: absolute;
  background: #ccc;
  border-radius: 10px;
}
.cs-scrollr-handle {
  background: #999;
  border-radius: 10px;
}
.cs-scrollr-y {
  top: 0;
  right: 0;
}
.cs-scrollr-x {
  left: 0;
  bottom: 0;
}
.cs-scrollr-view {
  width: 100%;
}
.cs-scrollr-box {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.cs-selectr-link {
  display: block;
  padding: .3em .5em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  border: 1px solid #cccccc;
}
.cs-selectr-link .cs-selectr-text {
  padding-right: 18px;
}
.cs-selectr-link .caret6 {
  position: absolute;
  right: 11px;
  top: 50%;
  margin-top: -3px;
}
.cs-selectr-link:hover {
  text-decoration: none;
}
.cs-selectr-head {
  padding: .75em;
  border-bottom: 1px solid #cccccc;
  position: relative;
}
.cs-selectr-head input {
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 0.923em;
  padding: .4em 1em .4em .4em;
}
.cs-selectr-utilities {
  border-top: 1px solid #cccccc;
  font-size: 0.8461em;
  padding: .25em .91em;
  text-align: right;
  overflow: hidden;
  font-weight: bold;
}
.cs-selectr-utilities span {
  float: left;
}
.cs-selectr-utilities .cs-selectr-toggles {
  float: right;
}
.ie7 .cs-selectr-head input {
  width: 82%;
}
.cs-selectr-body {
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
}
.cs-selectr-body .cs-selectr-hidden {
  display: none;
}
.cs-selectr-body ul {
  margin: 0;
}
.cs-selectr-body ul.cs-selectr-multiple li {
  overflow: hidden;
}
.cs-selectr-body ul.cs-selectr-multiple input {
  float: left;
  margin-top: 3px;
}
.cs-selectr-body ul.cs-selectr-multiple label {
  cursor: pointer;
  padding: .5384em 0;
  padding-left: .5384em;
  zoom: 1;
}
.cs-selectr-body ul ul.cs-selectr-group label {
  margin-left: 0.5384em;
}
.cs-selectr-body ul li.cs-selectr-noresults {
  cursor: default;
}
.generatedcontent .cs-selectr-body ul.cs-selectr-multiple label {
  padding-left: 28px;
}
.generatedcontent .cs-selectr-body ul.cs-selectr-multiple label:before {
  left: -22px;
  margin-right: -17px;
}
.generatedcontent .cs-selectr-body ul.cs-selectr-multiple input[type=checkbox]:checked + label:after {
  left: 11px;
  top: 11px;
}
.generatedcontent .cs-selectr-body ul.cs-selectr-multiple input[type=checkbox]:indeterminate + label:after {
  left: 9px;
  top: 16px;
}
.ie8 .cs-selectr-body ul.cs-selectr-multiple input {
  float: left;
  margin-top: 3px;
  padding-top: 0.5em;
  padding-left: 0.5em;
}
.ie8 .cs-selectr-body ul.cs-selectr-multiple ul.cs-selectr-group input {
  padding-left: 1em;
}
.ie7 .cs-selectr-body ul.cs-selectr-multiple input {
  float: left;
  margin-top: 0.3em;
  margin-left: 0.5em;
}
.ie7 .cs-selectr-body ul.cs-selectr-multiple ul.cs-selectr-group input {
  margin-left: 1em;
}

.suggestr-body {
  overflow: auto;
}
.suggestr-body .option-list {
  margin: 0;
}
.suggestr-body .option-list li:hover {
  background-color: inherit;
  color: inherit;
}
.option-list li.suggestr-current,
.option-list li.suggestr-current:hover {
  background: #0066ff;
  color: #fff;
}
.option-list li .matching-substring {
  text-decoration: underline;
}
.suggestr-footer {
  padding: .6384em;
  background: #eee;
  font-size: .8em;
}

.deferred-template {
  display: none;
}


.cs-tokenizr-list {
  list-style-type: none;
}
.cs-tokenizr-list .cs-tokenizr-token {
  display: inline-block;
}
.cs-tokenizr-remove {
  display: inline-block;
  margin-left: 10px;
  cursor: pointer;
}
.cs-tokenizr-token:hover .cs-tokenizr-remove {
  color: #000;
}

.cs-validation-message {
  position: absolute;
  z-index: 50;
}
